<h1>{{comments.story}}</h1>
<h3>Comments</h3>
{{#each model as |comments|}}
  <h3>{{comments.user}}</h3>
  <p>{{comments.text}}</p>
  <h5>{{comments.createdAt}}</h5>
  <hr>
{{/each}}
{{#link-to 'index'}}
  <h3>News</h3>
{{/link-to}} 

